.window_application {
	background-image: url('/home/pi/AO_Skylys/pictures/background.png');
	background-size:cover;
}

button {
	
}

button:hover {
	background-color: transparent;
    color: #000;
	background-image: none;
	border: 0px;	
	border-radius: 0px;
	
	transition: none;
	animation: none;
	box-shadow: none;
	text-shadow: none;
	text-decoration: none;
	
}

label {
	color: white;
}
