.window_application {
	background-image: url('/home/pi/AO_Skylys/pictures/background.png');
	background-size:cover;
}

button {
	color: white;
}

button LED_off{
	color: white;
}

button:hover {
	transition-property: none;

	background-size: 0px;
    color: #000;
	background: none;
	border: 0px;	
	border-radius: 0px;
	transition: none;
	animation: none;
	box-shadow: none;
	text-shadow: none;
	text-decoration: none;
    border-color: transparent;
}

label {
	color: white;
}
